<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to MobiLeLeLe,
        <span
            sec:authorize="isAuthenticated()"
            sec:authentication="name">
            Name of the logged in user.
        </span>
        <span sec:authorize="!isAuthenticated()">
            Anonymous!
        </span>
    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
