<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

<h1 th:text="#{greeting}"></h1>

<form th:method="get">
  <label th:text="#{language}" for="lang"></label>
  <select
        onchange="this.form.submit()"
        id="lang"
        name="lang">
    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
    <option value="de_DE" th:selected="${#locale.toString()} == 'de_DE'">Deutsch</option>
    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
  </select>
</form>

</body>
</html>
