<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form th:action="@{/offers/add}" th:method="POST" th:object="${offerAddBindModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select th:errorclass="is-invalid"
                        id="modelId"
                        name="modelId"
                        class="form-control">
                    <option value="">- Select a model -</option>
                    <optgroup th:each="brand : ${brandsModels}" th:label="${brand.name}" label="Brand name">
                        <option th:each="model : ${brand.models}"
                                th:text="${model.name}"
                                th:value="${model.id}"
                                th:selected="${model.id} == *{modelId}">Model
                        </option>
                    </optgroup>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Vechicle model is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input th:field="*{price}" th:errorclass="is-invalid" name="price"
                        id="price" type="number" min="0" step="100" class="form-control"
                       placeholder="Suggested price"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Price is required, min 100.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select th:errorclass="is-invalid" id="engine" name="engine" class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="e : ${T(bg.softuni.mobilelele.model.entity.enums.EngineEnum).values()}"
                            th:text="${e}" th:value="${e}" th:selected="${e} == *{engine}"
                    >Engine type</option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select th:errorclass="is-invalid" name="transmission" id="transmission" class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t : ${T(bg.softuni.mobilelele.model.entity.enums.TransmissionEnum).values()}"
                            th:text="${t}" th:value="${t}" th:selected="${t} == *{transmission}"
                    > Transmission type</option>
                </select>
                <p class="errors alert alert-danger invalid-feedback">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input th:field="*{year}" th:errorclass="is-invalid" name="year"
                        id="year" type="number" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Manufacturing year is required, and must be after 1930.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input th:field="*{mileage}" th:errorclass="is-invalid" name="mileage"
                        id="mileage" type="number" min="0" max="900000" step="1000"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <p class="errors alert alert-danger invalid-feedback">
                    Mileage in kilometers is required, and must be positive.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea th:field="*{description}" th:errorclass="is-invalid" name="description"
                    id="description" type="textarea" class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="errors alert alert-danger invalid-feedback">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input th:field="*{imageUrl}" th:errorclass="is-invalid" name="imageUrl"
                    id="imageUrl" type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p class="errors alert alert-danger invalid-feedback">
                Vehicle image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
